<!DOCTYPE HTML>
<html>
    <head>
        <title>Node Socket.io</title>
        <style>
            #content{
                width: 500px;
                height: 300px;
                margin: 0 0 20px 0;
                border: solid 1px #999;
                overflow-y:scroll;

            }

            #field{
                width: 350px;
            }

            /*Begin Video Group*/
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content: space-around;

            }

            .itemContainer{
                width:30vw;
                height:40vh;
            }
        </style>
        <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
        <!--<script  src="./js/chat.js" ></script>
        <script src="./js/socket.io.js" ></script>-->
    </head>
    <body>
        <!--<h1>Node Socket.io</h1>
        <div id="content">
        </div>
        <div class="controls">
            <input type="text" id="field">
            <button id="send">send</button>
        </div>-->
        <label id="lbl"></label>
        <button type="button" onclick="append()">Append</button>
        <div class="container" >
            
        </div>
        <script>
             var i = 0;
            function append(){
                i = i + 1;
                var div = document.createElement('div');
                div.setAttribute("style", "border: solid gray ;margin-top: 10px;margin-right:1px;");
                div.setAttribute("id", "div_"+i);
                div.setAttribute("class","itemContainer");
                
                $(".container").prepend(div);
                // if (i <= 2){
                //     $(".itemContainer").css("width:30vw");
                //     $(".itemContainer").css("height:40vh");
                // }
                // else if ( i < 3)
                autoResizeItemContainer(i);
            }

            $(window).resize(function(){
                console.log("Heigh: ",$( window ).height());
            })

            function autoResizeItemContainer(i){
                console.log("i : ",i);
                if(i < 3){
                    console.log("i<3: ",i);
                    $(".itemContainer").css("width","30vw");
                    $(".itemContainer").css("height","40vh");
                } else if (i<5){
                    console.log("i<5: ",i);
                    $(".itemContainer").css("width","20vw");
                    $(".itemContainer").css("height","30vh");
                } else if(i == 5){
                    console.log("i==5: ",i);
                    $(".itemContainer").css("width","15vw");
                    $(".itemContainer").css("height","25vh");
                } else {
                    console.log("default: ",i);
                    $(".itemContainer").css("width","12vw");
                    $(".itemContainer").css("height","20vh");
                }
                

                // switch (i){
                //     case ((i == 1) || (i == 2)):
                //         console.log("i<3: ",i);
                //         $(".itemContainer").css("width","30vw");
                //         $(".itemContainer").css("height","40vh");
                //         break;
                //     case ((i == 3) || (i == 4)):
                //         console.log("i<5: ",i);
                //         $(".itemContainer").css("width","20vw");
                //         $(".itemContainer").css("height","30vh");
                //         break;
                //     case (i == 5) :
                //         console.log("i<6: ",i);
                //         $(".itemContainer").css("width","15vw");
                //         $(".itemContainer").css("height","25vh");
                //         break;
                //     default:
                //         console.log("default: ",i);
                //         $(".itemContainer").css("width","12vw");
                //         $(".itemContainer").css("height","20vh");
                        
                // }      
            }

        </script>
    </body>
</html>
